<div [class]="cardInfoContainerClass" class="card-container p-2" [class.align-items-center]="!hasSubtitle || !showVertical">
    @if(showVertical) {
        <section class="vertical-container mr-3 " [class]="verticalColorClass" [class.vertical-container-icon]="icon">
            @if(icon) {
                <i [class]="iconClass"></i>
            }
        </section>
    }
    @if(!showVertical) {
        <i [class]="iconClass" class="mr-2"></i>
    }
    <section class="card-info-container">
        <h4 [class]="titleColor">
            {{ title }}
        </h4>

        <ng-template #defaultSubtitle>
            <h3 class="pt-1" [class]="subtitleColor" [style.font-weight]="subtitleFontWeight">
                {{ subtitle }}
            </h3>
        </ng-template>
        <ng-container *ngTemplateOutlet="subtitleContent() || defaultSubtitle; context: { $implicit: subtitle, subtitleColor: subtitleColor, subtitleFontWeight: subtitleFontWeight }"></ng-container>
    </section>

</div>