.container {
  padding: 1em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.item-layout {
  padding-top: 1em;
}

.text-outline {
  color: var(--outline);
}
.text-dark-blue {
  color: var(--dark-blue);
}
.text-dark {
  color: var(--dark);
}
.text-white-blue {
  color: var(--white-blue);
}

.bg-white {
  background-color: #fff;
}

.page-content {
  padding-left: 1em;
  padding-right: 1em;
}

.card-container {
  @extend .bg-white;
  border: 1px solid var(--border-color);
}

.bg-primary {
  background-color: var(--primary);
}

.bg-secondary {
  background-color: var(--secondary);
}

.bg-success {
  background-color: var(--success);
}

.bg-danger {
  background-color: var(--danger);
}

.bg-warning {
  background-color: var(--warning);
}

.bg-info {
  background-color: var(--info);
}

.bg-light {
  background-color: var(--light);
}

.bg-dark-green {
  background-color: var(--dark-green);
}

.bg-white-primary {
  background-color: var(--white-primary);
}

.text-primary {
  color: var(--primary);
}

.text-secondary {
color: var(--secondary);
}

.text-success {
color: var(--success);
}

.text-danger {
color: var(--danger);
}

.text-warning {
color: var(--warning);
}

.text-info {
color: var(--info);
}

.text-light {
color: var(--light);
}

.text-dark-green {
color: var(--dark-green);
}

.text-white-primary {
color: var(--white-primary);
}