@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "./layout.scss";
@import "./flex-helpers.scss";
@import "./space-utils.scss";


:root {
    --outline: #888B99;
    --outline-text: #78818F;
    --dark-blue: #232F44;
    --white-blue: #428BCA;
    --dark: #656F7F;
    --border-color: #DEDCE5;

    --primary: #428BCA;
    --secondary: #6C757D;
    --success: #488000;
    --danger: #E33434;
    --warning: #F5A319;
    --info: #17A2B8;
    --light: #F8F9FA;
    --dark-green: #008080;
    --white-primary: #428BCA;
}

html, body {
    background-color: #FBFAFC;
    margin: 0;
}

* {
    font-family: Open Sans, sans-serif;
}

h1, h3, h2, h4, h3, p {
    font-weight: normal;
    margin: 0;
}

a {
    color: var(--white-blue);
    text-decoration: underline;
}


.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}
