.breadcrumbs-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center
}

.breadcrumb-item {
    @extend .breadcrumbs-container;
}
.hover-effect {
    cursor: pointer;
}

.hover-effect:hover {
    text-decoration: underline;
}