.horizontal-line {
    display: none;
}
.divider {
    border-top: 1px solid var(--border-color);
}

.vertical-line {
    border-left: 1px solid var(--dark);
    height: 100%;
}

.person-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.user-thumbnail {
    max-width: 10em;
    border-radius: 50%;
}

.user-name {
    font-weight: bold;
    color: var(--dark-blue);
}

.user-job {
    color: var(--outline-text);
}

@media (min-width: 1400px) {
    .person-container {
        grid-template-columns: 1fr 2fr;
    }
}


@media (max-width: 992px) {
    .person-container {
        grid-template-columns: 1fr;
    }
    .vertical-line {
        display: none;
    }
    .horizontal-line {
        display: block;
    }
}